body {
  display: flex;
  flex-direction: column;
}
.index{
  display: flex;
  flex-direction: column;
  height: 100%;
}
/*头部*/
.indexsearch-wrap {
  background: transparent;
  width: 100%;
  height: 88px;
  position: fixed;
  z-index: 999;
}

.indexsearch {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:88px;
  padding: 0 40px;
}
.main {
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 110px; ;
}

.idexmenu,
.search-form,
.login {
  display: flex;
}


.indexmenu i {
  font-size: 40px;
  cursor: pointer;
  color: #fff;
}
.indexsearch-form input {
  outline: none;
  border: none;
  margin: 14px 0 0 5px;
  padding-left: 5px;
  font-size: 12px;
  color: #232326;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 30px;
  vertical-align: middle;
}
.iconfont{
  font-size:24px;
}
.indexsearch-form {
  width: 548px;
  height: 60px;
  border-radius: 30px;
  overflow: hidden;
  background: #fff;
}
.search-logo {
  width: 40px;
  height: 30px;
  display: inline-block;
  background: url("../../img/search.png") no-repeat;
  background-size: 40px 30px;
  margin: 10px 8px 0 16px;
  position: relative;
  vertical-align: middle;
}

.search-logo::after {
  content: "";
  position: absolute;
  border-right: 1px solid #ddd;
  top: 0;
  left: 48px;
  height: 30px;
}

.search-zoom {
  display: inline-block;
  height: 30px;
  width: 36px;
  margin: 10px 0 0 5px;
  background: url("../../img/tools.png")no-repeat -160px 0;
  background-size: 400px;
  vertical-align: middle;
}

.indexlogin > a {
  font-size: 24px;
  color: #fff;
}
/*轮播图*/
.slider-wrap {
  position: relative;
  top: 0;
  left: 0;
  height: 368px;
  background: deepskyblue;
}

.slider-wrap ul {
  width: 100%;
}

.slider-wrap img {
  width: 100%;
  height: 368px;
}
/*分页器*/
.indexTopBanner{
  position:relative ;
}
.indexTopBanner .swiper-pagination{
  position:absolute ;
  top:280px;
}
/*中部轮播图*/
.indexClassify-wrap {
  height: 324px;
  width: 100%;
  position: relative;
  background: #fff;
  border-radius: 25px 25px 0 0;
  margin-top: -40px;
  z-index: 99;
}

.indexClassify {
  width: 100%;
  height: 324px;
  overflow: hidden;
  position: relative;
}

.indexClassify > div {
  width: 100%;
}

.classify-l {
  height: 324px;
  display: flex;
  flex-wrap: wrap;
}

.classify-r {
  display: flex;
  flex-wrap: wrap;
  height: 324px;
}

.indexClassify a {
  width: 20%;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.indexClassify img {
  width: 80px;
  height: 80px;
  margin-top: 20px;
}

.indexClassify span {
  font-size: 24px;
  color: #000;
  margin-top: 12px;
}

.classify-slide {
  position: absolute;
  bottom: 4px !important;
  height: 5px;
  left: 0;
  text-align: center;
  display: flex;
  justify-content: center;
}
/*京东秒杀*/
.indexSeckill-wrap {
  overflow: hidden;
  background-color: #3E144E;
  height: 352px;
}

.seckill {
  margin: 10px;
  background: #fff;
  height: 312px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.seckill-title {
  height: 68px;
  background: url("../../img/seckill/seckill.png") no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: space-between;
}

.seckill-title a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seckill-title strong {
  font-size: 12px;
  color: #232326;
  font-weight: 700;
  display: inline-block;
}

.seckill-title .seckill-title-text {
  height: 54px;
  width: 138px;
  margin-right: 6px;
  margin-left: 9px;
  margin-top: 8px;
  background: url("../../img/seckill/seckill_title.png") no-repeat;
  background-size: 100%;
}

.more-seckill-wrap {
  color: #f23030;
  float: right;
  font-size: 10px;
  text-align: right;
  position: relative;
  padding-right: 22px;
}


.more-seckill {
  background: url("../../img/seckill/more.png") no-repeat;
  width: 36px;
  height: 36px;
  display: inline-block;
  background-size: cover;
  position: absolute;
  right: 8px;
  top: 18px;
}

.seckill_time {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.seckill_time > div {
  width: 18px;
  line-height: 17px;
  color: #232326;
  font-size: 12px;
  position: relative;
  text-align: center;
  border: 1px solid #dfdfdf;
}

.seckill_time > span {
  font-size: 12px;
}

.seckill-list {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.seckill-item {
  width: 152px;
  height: 242px;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.seckill-content {
  width: 100%;
}

.seckill-item-img {
  display: flex;
  width: 132px;
  height: 132px;
}

.seckill-item-img a {
  display: inline-block;
}

.seckill-item-img img {
  width: 132px;
  height: 132px;
}

.seckill-item-price {
  display: flex;
  height: 88px;
  width: 100%;
  flex-direction: column;
  font-size: 12px;
  align-items: center;
}

.now-price {
  color: #e93b3d;
  display: flex;
  font-weight: 700;
}

.now-price i {
  font-size: 12px;
  align-self: flex-end;
}

.now-price span {
  font-size: 16px;
  align-self: flex-end;
}

.old-price {
  display: flex;
  align-items: center;
  color: #999;
  text-decoration: line-through;
}
/*东家小院*/
.exhibition-item {
  display: flex;
  flex-direction: column;
}

.exhibition-item > div:last-of-type {
  background-color: #3E144E;
}

.exhibition-item-title {
  width: 100%;
  height: 70px;
}
.exhibition-item img:last-of-type {
  position: relative;
  width: 140px;
  height: 140px;
}

.exhibition-item strong {
  position: relative;
  top: 20px;
  z-index: 99;
  color: #fff;
  font-size: 32px;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.exhibition-item span {
  position: relative;
  top: 20px;
  z-index: 99;
  color: #fff;
  font-size:24px;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.exhibition-item-three,
.exhibition-item-four {
  background-color: #f6f6f6;
  overflow: hidden;
  width: 100%;
}

.exhibition-three,
.exhibition-four {
  margin: 0 20px;
  background: #fff;
  height: 480px;
  border-radius: 5px;
}
.exhibition-item-three > div:last-of-type,
.exhibition-item-four > div:last-of-type {
  background: #fff;
}

.exhibition-item-three .exhibition-item-title {
  background: url("../../../static/img/exhibition/exhibition_3.jpg") no-repeat;
  background-size: 100%;
}


.exhibition-three-one {
  display: flex;
}

.exhibition-three-one > div {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.exhibition-three-one-title {
  padding-left: 20px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.exhibition-three-one-title span {
  background: linear-gradient(90deg, #45CAFF, #1471FB);
  color: transparent;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  -webkit-background-clip: text;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.exhibition-three-one-title p {
  font-size: 24px;
  line-height: 50px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.exhibition-three-one-title a {
display: flex;
  justify-content: center;
}
.exhibition-three-one-con {
  display: flex;
  justify-content: center;
}

.exhibition-three-one-con > a {
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  text-align: center;
}
.exhibition-con-item {
  display: flex;
  justify-content: center;
  width: 100%;
}
.exhibition-con-item a{
  width: 25%;
  text-align: center;
}
.exhibition-con-item .exhibition-title {
  display: flex;
  height: 80px;
  justify-content: space-between;
  flex-direction: column;
}

.exhibition-con-item .exhibition-title strong {
  font-size: 32px;
  line-height: 32px;
  color: #000;
}

.exhibition-con-item .exhibition-title p {
  font-size: 24px;
  line-height: 24px;
}
/*每日一逛*/
.exhibition-item-four .exhibition-item-title {
  background: url("../../../static/img/exhibition/exhibition_4.jpg") no-repeat;
  background-size: 100%;
}
.exhibition-four-one{
  display: flex;
}

/*为你推荐*/
.indexRecommend-wrap {
  background-color: #f0f2f5;
  padding-top: 10px;
}

.recommend-title {
  height: 76px;
  background: url("../../img/exhibition/recommend.png") no-repeat;
  background-size: 100%;
}

.recommend-content {
  /*margin: 0 10px;*/
  /*display: flex;*/
  /*flex-wrap: wrap;*/
}
.aaa{
  width:49%;
}
.recommend-item {
  width: 96%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
  padding-bottom: 4px;
}

.similar-product {
  background-color: #fff;
  margin-botom:8px ;
}
.similar-product-text {
  box-sizing: border-box;
  height: 68px;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
  color: #232326;
  margin-top: 5px;
  line-height: 32px;
  margin-bottom: 3px;
  padding: 0 4px;
}

.similar-product-info {
  height: .26rem;
  position: relative;
}

.similar-product-price {
  color: #f23030;
  padding: 0 5px 0 4px;
  position: relative;
  top: 1px;
  height: 25px;
  line-height: 25px;
  font-size: 32px;
}

.similarity {
  position: absolute;
  top: 0;
  right: 32px;
  text-align: center;
  color: #686868;
  font-size: 12px;
  width: 80px;
  height: 24px;
  line-height: 25px;
}

.similarity::after {
  content: "";
  width: 218%;
  height: 300%;
  position: absolute;
  top:-8px;
  left: -6px;
  border:4px solid #bfbfbf;
  border-radius: 4px;
  -webkit-transform: scale(.5, .5);
  transform: scale(.5, .5);
  -webkit-transform-origin: top left;
  transform-origin: top left;
}

  /*底部*/
/*toolsBar start*/
.indexTools-bar {
  position: fixed;
  bottom:0px;
  height: 110px;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.indexTools-bar >div {
  width: 20%;
  height: 100%;
}
.indexTools-bar img {
  width: 100%;
  height: 100%;
}
/*toolsBar end*/
