/* .................................................. */
/*  */
.details_ItemHeader{
	width:100%;
	height:88px;
	display: -webkit-flex;
	align-items: center;
	padding:0 30px;
}
.details_ItemHeader>.back_img>img{
	width:38px;
	height:34px;
}
.details_ItemHeader>h1{
	color:#333333;
	font-size:30px;
	margin:0 238px;
}

.details_ItemHeader>.clickMore_img>img{
	width:43px;
	height:10px;
}

/*  */


.details_item{
	/* 滚动条 */
	height: 100%;
	overflow-y: auto;
}


.details_ItemTitle{
	width:100%;
	height:120px;
	border-top:1px solid #f7f7f7;
	border-bottom:30px solid #f7f7f7;
	display:-webkit-flex;
	align-items:center;
	padding:0 20px;
}
.details_ItemTitle>a{
	font-size:24px;
	display:-webkit-flex;
	align-items: center;
	justify-content: center;
	
	border-radius:5px;
	height:45px;
}
.details_ItemTitle .all_argument{
	width:126px;
	color:#ffffff;
	background-color:#e93b3d;
}


.details_ItemTitle .nice_argument{
	width:124px;
	color:#666666;
	background-color:#fdf0f0;
	margin:0 18px;
}


.details_ItemTitle .middle_argument{
	width:103px;
	color:#666666;
	background-color:#fdf0f0;
	margin-right:18px;
}


.details_ItemTitle .bad_argument{
	width:103;
	color:#666666;
	background-color:#fdf0f0;
}
.details_ItemTitle .degree{
	width:146px;
	color:#666666;
	background-color:#fdf0f0;
	margin:0 20px;
}








/* ................................................................................................ */

/* 评价 */
/* details_evaluation */
.details_evaluation {
	height: 580px;

	padding: 20px;
}

.details_evaluation_header {
	height: 88px;
	/* border-bottom: 1px solid #e8e8ed; */
	display: -webkit-flex;
	align-items: center;
}

.details_evaluation_header>h1 {
	font-size: 36px;
	color: #4a4a4a;
}

.details_evaluation_header>p {
	font-size: 26px;
	color: #e4393c;
	margin-left: 26px;
	margin-right: 300px;
}

.details_evaluation_header>span {
	font-size: 26px;
	color: #666666;
}

/* 向右的图标 */
.details_evaluation_header>img {
	width: 50px;
	height: 20px;
}

.details_evaluation_content {
	height: 238px;
	border-bottom: 1px solid #e8e8ed;
}

.details_evaluation_content_top {
	display: -webkit-flex;
	align-items: center;
}




.details_evaluation_content_top>span {
	margin: 0 20px;
}


.details_evaluation_content_top>p {
	margin-left: 300px;
}


.details_evaluation_content_main {
	height: 150px;
	line-height: 45px;
	color: #333333;



	/* 多行文本 */
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	display: -webkit-box;

}



.details_evaluation_content_stars {
	width: 110px;
	height: 20px;
}




.head_portrait {
	width: 50px;
	height: 50px;
}


.check_all {
	height: 90px;
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
	border-bottom: 15px solid #e8e8ed;
}

.check_all>a {
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
	width: 210px;
	height: 50px;
	background: gray;
	border: 1px solid gray;
	border-radius: 20px;
}

.check_all>a>img {
	width: 22px;
	height: 22px;
	margin-left:10px;
	
}
