/*myAttention*/
.myAttention{
  width: 100%;
  height: 100%;
  overflow-y: auto ;
  -webkit-overflow-scrolling: touch;
}
.myAttention::-webkit-scrollbar{
  display: none;
}
/*myAttentionHeader*/
.myAttention-header{
  width: 100%;
  height: 88px;
  text-align: center;
  line-height: 88px;
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 800;
  border-bottom: 2px solid rgb(239,239,239);
}
.myAttention-header-left {
  content: "";
  width: 24px;
  height: 24px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  transform: rotate(-45deg);
  margin-left: 40px;
  display: inline-block;
}
.myAttention-header-middle{
  margin-left: 20px;
  width: 586px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.right{
  margin-left: 20px;
  color: gray;
  font-size: 40px;
}
/*myAttentionHeader*/

/*MyAttentionContent*/
.myAttention-content-top{
  width: 100%;
  height: 80px;
  line-height: 80px;
  display: flex;
  font-size: 30px;
}
.myAttention-content-top span{
  flex: 1;
  text-align: center;
}
.myAttentionA{
  color:red;
  border-bottom: 4px solid red;
  display: inline-block;
  height: 100%;
}
.myAttention-content-middle{
  width: 100%;
  padding: 0 10px;
  display: flex;
  height: 80px;
  line-height: 80px;
  background: rgb(247,247,247);
  justify-content: space-between;
}
.myAttention-content-middle a{
  color: red;
}
.myAttention-content-middle i{
  margin: 0 6px;
  color:red ;
}
.myAttention-content-bottom{
  display: flex;
  padding: 30px 20px;
}
.myAttention-content-bottom img{
  width: 200px;
  height: 200px;
}
.myAttention-content-bottom-right-p1{
  height: 64px;
  width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  color: #000;
  font-weight: 600;
  -webkit-overflow-scrolling: touch;
  margin-top:40px;
}
.myAttention-content-bottom-right-introduce{
  display: flex;
  justify-content: space-between;
  color: rgb(160,160,160);
  margin: 20px 0;
}
.myAttention-content-bottom-right-p2{
  display: flex;
  justify-content: space-between;
}
.myAttention-content-bottom-right-p2 span:nth-child(1){
  color: red;
}
.myAttention-content-bottom-right-p2 span:nth-child(2){
  color: blue;
  border: 2px solid blue;
  border-radius: 40px;
  text-align: center;
  width: 150px;
  height: 40px;
  line-height: 40px;
}
.myAttention-content-shop{
  display: flex;
  padding: 40px 40px;
  border-bottom: 1px solid #cccccc;
}
.myAttention-content-shop img{
  width: 200px;
  height: 100px;
  margin-right: 40px;
}
.myAttention-content-shop-son p{
  margin-bottom: 20px;
}
.myAttention-content-shop-son span{
  color: white;
  background: red;
  padding: 5px;
  border-radius: 5px;
}
/*MyAttentionContent*/

.myAttention-bottom-title{
  text-align: center;
  height: 100px;
  line-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #efefef;
}
.strip{
  width: 150px;
  height: 2px;
  background:#cccccc;
}
/*myAttention*/
.recommend-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 8px;
}
.recommend-item{
  width: 49%;
  padding-bottom: 10px;
}
.recommend-items {
  width: 100%;
  padding-bottom: 4px;
}

.indexwrap {
  background: red;
}

.similar-product {
  background-color: #fff;
  margin-botom: 8px;
}

.similar-product-text {
  box-sizing: border-box;
  height: 68px;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
  color: #232326;
  margin-top: 5px;
  line-height: 32px;
  margin-bottom: 3px;
  padding: 0 4px;
}

.similar-product-info {
  height: 44px;
  position: relative;
}

.similar-product-price {
  color: #f23030;
  padding: 0 5px 0 4px;
  position: relative;
  top: 1px;
  height: 25px;
  line-height: 25px;
  font-size: 32px;
  display: flex;
  justify-content: space-between;
}
.similar-product-price p{
  color: blue;
}
.similarity {
  position: absolute;
  top: 0;
  right: 32px;
  text-align: center;
  color: #686868;
  font-size: 12px;
  width: 80px;
  height: 24px;
  line-height: 25px;
}

.similarity::after {
  content: "";
  width: 218%;
  height: 300%;
  position: absolute;
  top: -8px;
  left: -6px;
  border: 4px solid #bfbfbf;
  border-radius: 4px;
  -webkit-transform: scale(.5, .5);
  transform: scale(.5, .5);
  -webkit-transform-origin: top left;
  transform-origin: top left;
}
