/*NavBar start*/

.nav-bar {
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 999;
  width: 100%;
}


.nav-bar .title {
  position: absolute;
  left: 0;
  height: 100%;
  line-height: 90px;
  text-align: center;
  width: 100%;
  padding: 0 80px;
  font-size: 38px;
}

.left {
  position: absolute;
  left: 0;
  height: 100%;
  width: 80px;
  line-height: 90px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  font-size: 66px;
}

.right {
  position: absolute;
  right: 0;
  height: 100%;
  text-align: center;
  line-height: 90px;
  width: 160px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  font-size: 40px;
}

/* 右侧两个图标使用，patPat页面使用 */
.right>i {
  display: inline-block;
  padding-right: 20px;
}


/*NavBar end*/


.patPat {
  height: 100%;
  overflow-y: auto;
}

.patPatHeader {
  margin-bottom: 91px;
}

.patPatCard {
  height: 222px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.patPatCardLeft {
  width: 314px;
  height: 192px;
  margin-right: 10px;
  display: flex;
}

.patPatCardRightTop>a {
  display: block;
  width: 380px;
  height: 90px;
  margin-bottom: 10px;
}

.patPatCardRightBottom {
  display: flex;
}

.patPatCardRightBottom>a {
  display: block;
  width: 186px;
  height: 92px;
}

.patPatCardRightBottom>a:nth-child(1) {
  margin-right: 10px;
}

/* 猜你喜欢的产品------ */
.likeIntroduceList {
  background-color: #f1f1f1;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  display: -webkit-box;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 4px;
}

::-webkit-scrollbar {
  display: none;
  /*隐藏滚轮*/
}

/* <!-- 闲置卖钱 --> */
/*  */
.patPatNavigation {
  width: 100%;
  height: 652px;
  background: url(./../../static/img/patPat/navigation.png) no-repeat;
  background-size: contain;
  margin-top: 10px;
}

.patPatExclusive {
  background: url(./../../static/img/patPat/exclusive.png);
  background-size: contain;
  width: 100%;
  height: 768px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 145px;
  padding-bottom: 28px;
  justify-content: center;
}

.patPatExclusive>a {
  width: 346px;
  height: 294px;
  margin: 8px;
}

.patPatBrilliantList {
  background: #f1f1f1;
}

.patPatRecommend {
  overflow: hidden;
  display: flex;
}
