.shippingAddress-fist{
  background: #f8f8f8;
  height: 100%;
  position: relative;
}
/*NavBar start*/

.nav-bar {
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  background: #f8f8f8;
  z-index: 999;
  width: 100%;
}


.nav-bar .title {
  position: absolute;
  left: 0;
  height: 100%;
  line-height: 90px;
  text-align: center;
  width: 100%;
  padding: 0 80px;
  font-size: 32px;
}

.left {
  position: absolute;
  left: 0;
  height: 100%;
  width: 80px;
  line-height: 90px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  font-size: 66px;
}

.right {
  position: absolute;
  right: 0;
  height: 100%;
  text-align: center;
  line-height: 90px;
  width: 80px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  font-size: 40px;
}

/*NavBar end*/
/*底部*/
/*手动*/
.shippingAddressCenter-fist{
  margin-top: 90px;
}
.shippingAddressCenter{
  height: 170px;
  width: 750px;
  display: flex;
  background: white;
  margin-bottom: 10px;
  overflow-x: scroll;
  -webkit-overflow-scrolling:touch;
}
.shippingAddressCenter::-webkit-scrollbar {
  display: none;
}
.shippingAddressCenter-top{
  display: flex;
  width: 750px;
  height: 170px;
}
.shippingAddressCenter-top-top{
  display: flex;
  width: 120px;
  justify-content: center;
  align-items: center;
}
.shippingAddressCenter-top-top{
  height: 170px;
}
.shippingAddressCenter-top-top span{
  display: inline-block;
  width: 30px;
  height:30px;
  border: 1px solid #E8E8E8;
  border-radius: 50%;
}
.active {
  background: red;
}
.shippingAddressCenter-top-bottom{
  height: 170px;
  width: 700px;
  padding-top:10px;
  margin-left: 20px;
  margin-right: 20px;
}
.shippingAddressCenter-top-bottom h3{
  font-size:30px;
  line-height: 50px;
}
.shippingAddressCenter-top-bottom p{
  font-size:26px;
  line-height: 50px;
  color:#666666;
}
.shippingAddressCenter-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.shippingAddressCenter-center p{
  width: 120px;
  font-size:30px ;
  text-align: center;
  color:red;
}
.shippingAddressCenter-bottom{
  background: red;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shippingAddressCenter-bottom p{
  color:white;
  text-align: center;
  width: 120px;
}
/*底部*/
.shippingAddressFoot{
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  font-size: 32px;
  color:white;
  line-height: 90px;
}
