.cart {
  background: #f6f6f6;
  height: 100%;
  overflow-y: auto;
  padding: 90px 0 100px;
  -webkit-overflow-scrolling: touch;
}

/*NavBar start*/

.cart .nav-bar {
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 999;
  width: 100%;
}


.cart .nav-bar .title {
  position: absolute;
  left: 0;
  height: 100%;
  line-height: 90px;
  text-align: center;
  width: 100%;
  padding: 0 80px;
  font-size: 36px;
}

.cart .nav-bar .left {
  position: absolute;
  left: 0;
  height: 100%;
  width: 80px;
  line-height: 90px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  font-size: 66px;
}

.cart .nav-bar .right {
  position: absolute;
  right: 0;
  height: 100%;
  text-align: center;
  line-height: 90px;
  width: 80px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  font-size: 40px;
}

/*NavBar end*/

.cart .main {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.cart .shop-title-wrap {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 10px 20px 10px 80px;
  position: relative;
  background: #fff;
}

.shop {
  margin-bottom: 30px;
}

.shop-title-wrap:before,
.nav-bar::after,
.cart-product-edit::after {
  content: "";
  position: absolute;
  z-index: 1;
  pointer-events: none;
  background-color: #e5e5e5;
  height: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleY(.5);
}

.icon_select {
  position: absolute;
  top: 0;
  left: 0;
  width: 84px;
  height: 100%;
}

.icon_select::after {
  background: url('./../../../static/img/cart/no_checked.png') no-repeat center;
  background-size: 100%;
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
  left: 50%;
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  margin-left: -20px;
}

.shop-title-wrap .focus::after {
  background-image: url("./.././../../static/img/cart/checked.png");
}

.shop-photo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background: url(//img11.360buyimg.com/jdphoto/s120x120_jfs/t15310/38/1621444639/6673/3159485e/5a5316c9N59ab9cf8.png) no-repeat;
  background-size: 120px auto;
  background-position: -70px -70px;
}

.shop-title {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  display: inline-block;
  font-size: 32px;
  font-weight: 700;
  margin-right: 20px;
}

.notice {
  font-size: 24px;
  color: #999;
  height: 100%;
  display: flex;
  align-items: center;
}

.notice i {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  margin-right: 10px;
  background: url('./../../../static/img/cart/hint.png') no-repeat;
  background-size: 24px auto;
}

.cart .goods {
  position: relative;
  min-height: 150px;
  padding: 10px 0 30px 256px;
  background: #fff;
}

.cart.goods .icon_select {
  left: 0;
  width: 126px;
  height: 100%;
}

.cart .goods .icon_select::after {
  top: 70px;
  left: 42px;
}

.cart .goods img {
  position: absolute;
  left: 86px;
  top: 10px;
  display: block;
  width: 150px;
  height: 150px;
}

.cart .goods .name {
  font-size: 28px;
  padding-right: 20px;
  margin-bottom: 10px;
  word-break: break-all;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.cart .goods .content {
  width: 100%;
}

.cart .goods .sku {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  background-color: #fff;
  font-size: 28px;
  color: #666;
  margin: 16px 20px 20px 0;
  border: 1px solid #e5e5e5;
  padding: 2px 50px 2px 10px;
  border-radius: 4px;
}

.cart .goods_line {
  margin: 10px 20px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.priceJs {
  flex: 1;
  height: 24px;
  color: #e93b3d;
  font-size: 24px;
  display: flex;
}

.priceJs > i {
  line-height: 28px;
}

.priceJs .int {
  line-height: 24px;
  font-size: 32px;
  font-style: normal;
}

.num_wrap,
.input_wrap {
  display: flex;
}

.input_wrap .num {
  border: none;
  text-align: center;
  background: #f7f7f7;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  font-size: 24px;
  width: 90px;
  height: 60px;
  color: #999;
  outline: none;
}

.minus, .plus {
  display: inline-block;
  float: left;
  width: 60px;
  height: 60px;
  background: #f7f7f7;
  line-height: 60px;
  text-align: center;
  font-size: 40px;
}

.cart .goods_sub_line {
  position: relative;
  margin: 10px 20px 10px 0;
  height: 24px;
  display: flex;
  font-size: 24px;
  color: #999;
  justify-content: flex-end;
}

.cart .goods_sub_line span:first-of-type {
  margin-right: 30px;
}

.cart .product-item {
  position: relative;
}

.product-item::before,
.cart-total-price::after {
  display: block;
  content: "";
  position: absolute;
  z-index: 1;
  pointer-events: none;
  background-color: #e5e5e5;
  height: 2px;
  right: 0;
  top: 0;
  left: 25px;
  transform: scaleY(.5);
}

.cart .cart-total-price::after {
  left: 0;
}

.cart .product-item:first-of-type::before {
  height: 0;
}

/*total-price start*/
.cart-total-price {
  position: fixed;
  height: 100px;
  width: 100%;
  z-index: 999;
  bottom: 0;
  left: 0;
  background: #fff;
  display: flex;
  justify-content: space-between;
}

.cart-total-price .icon_select {
  width: 80px;
  padding-top: 64px;
  font-size: 20px;
  text-align: center;
  height: 30px;
  color: #999;
}

.cart-total-price .total {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  height: 100%;
  justify-content: flex-end;
}

.cart-total-price .total > div {
  padding-top: 20px;
  font-weight: 700;
  line-height: 1em;
  height: 100px;
  text-align: right;
  float: left;
  font-size: 32px;
  display: flex;
  flex-direction: column;
}

#totalPrice {
  color: #e93b3d;
}

#totalBackMoney {
  padding-top: 2px;
  display: block;
  font-size: 20px;
  color: #999;
  font-weight: 400;
}

.total > a {
  background: #e4393c;
  padding: 0 40px;
  color: #fff;
  margin-left: 40px;
  font-size: 36px;
  display: flex;
  align-items: center;
}

.total > a > span {
  font-weight: 700;
}

.total > a > em {
  font-style: normal;
  font-size: 28px;
}

/*total-price end*/
/*product-edit start*/
.cart-product-edit {
  overflow: hidden;
  position: relative;
  padding: 0 20px;
  height: 90px;
  margin-bottom: -1px;
  line-height: 90px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 28px;
}

.receive-address {
  color: #999;
}

.product-edit {
  color: #e93b3d;
  width: 120px;
  text-align: center;
}

/*product-edit end*/
/*edit-bar start*/
.cart-product-edit-bar {
  height: 100px;
  position: fixed;
  background: #ffffff;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 9999;
}

.cart-product-edit-bar::before {
  content: "";
  position: absolute;
  z-index: 1;
  pointer-events: none;
  background-color: #e5e5e5;
  height: 2px;
  left: 0;
  right: 0;
  top: 0;
  transform: scaleY(.5);
}

.cart-product-edit-bar-del-btn {
  color: #fff;
  background: #e93b3d;
  float: right;
  width: 150px;
  height: 60px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 8px;
}

.cart-product-edit-bar-check-all {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100px;
}

.cart-product-edit-bar-check-all .icon_select {
  width: 40px;
  height: 40px;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
}


.cart-product-edit-bar-check-all span {
  position: absolute;
  left: 50%;
  bottom: 10px;
  font-size: 24px;
  transform: translateX(-50%);
}
.cart-product-edit-bar .cart-product-edit-bar-check-all .selected::after {
  background:url("./../../../static/img/cart/checked.png");
  background-size: 100%;
}
/*edit-bar end*/
